@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "./css/common.css";
@import "./css/font.css";
@import "./css/buttons.css";

#modal {
  top: 10vh;
  left: 10%;
}

@media (min-width: 768px) {
  #modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
